.header {
  display: flex;
  justify-content: space-between; /* מפריד בין אלמנטים בצורה שווה */
  align-items: center; /* מסדר את האלמנטים במרכז בגובה */
}

.header .mat-toolbar {
  background-color: #2196F3; /* כחול */
  color: white; /* טקסט לבן */
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.header .__spacer {
  flex: 1;
}
.header .__link {
  padding: 10px;
  color: white; /* טקסט לבן */
  text-decoration: none;
}
.header .icon {
  color: rgb(9, 9, 9); 
  background-color: white; 
}
